<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilherme</title>
</head>
<body>
    <header>
        <h1 
            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
                color: red;
                font-style: normal;
                "
        >
            Header 
        </h1>
    </header>
    <main>
        <p 
            style="color: rgb(138, 30, 165);
            font-variant: small-caps;
            "
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas quisquam, debitis possimus vero voluptates illo quo enim autem tempora exercitationem ab provident eius sunt fugiat, obcaecati, quasi ut placeat.

        </p>
    </main>
    <footer>
        <p
            style="color: cadetblue;
            font-size: larger;
            align-self: self-end;
            "
        >
            Footer
        </p>
    </footer>
</body>
</html>